<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Blog post</title>
</head>
<body th:object="${post}">
	<h1>Post by <span th:text="*{author.name}">John Doe</span></h1>
	<p th:text="*{content}">This is a post.</p>
	<p>Likes: <span th:text="${likeCount}">0</span></p>
	<form method="post" action="#" th:action="@{/forum/post/{id}/like(id = ${post.id})}">
		<label for="userdropdown">Select your username</label>
		<select id="userdropdown" th:name="likerId">
			<option th:each="userOption : ${userList}" th:value="${userOption.id}" th:text="${userOption.name}"></option>
		</select>
		<input type="submit" value="Like!">
	</form>
</body>
</html>